nav{background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(114, 114, 220);
}

.Face{position:absolute;}
.Wumbo{text-align: end;}
.quote{border: 1px;
    background-color: black;
    color: aliceblue;}




    .wrapper {
        background-color: rgb(121, 128, 227) !important;
        list-style-type: none;
        padding: 0;
        border-radius: 3px;
      }
      .form-row {
        display: flex;
        justify-content: flex-end;
        padding: .5em;
      }
      .form-row > label {
        padding: .5em 1em .5em 0;
        flex: 1;
      }
      .form-row > input {
        flex: 2;
      }
      .form-row > input,
      .form-row > button {
        padding: .5em;
      }
      .form-row > button {
       background: gray;
       color: white;
       border: 0;
      }